html, body {
  background-image: url("../img/starring.png");

  color: white;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

#Contener {
  width: 900px;
  height: 100%;
  margin: auto;

}

#Header
{
width: 100%;
height: 35%;
text-align: center;
background: black;
}

#logo {
  width: 100%;
  height: 65px;
background-image: url("../img/pinstriped_suit.png");
}

.menu ul{
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style:none;
}

.menu li a{
  display: block;
  float: left;
  text-align: center;
  width: 180px;
  color: white;
  height: 40px;
  text-decoration: none;
  padding-top: 20px;
  font-size: 20px;
}
.menu {
  width: 600px;
  margin: auto;
}
.menu a:hover{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
#news{

  width: 100%;
  min-height: 500px;

  font-family: cursive;
  font-size: 25px;
  text-align: justify;
}
#news p {
  margin: 20px;

}
